* {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    height: 75px;
    background-color: #F4F4F4;
    color: #F77D32;
    font-size: 28px;
}
}
/* Style the header */
.header {
    overflow: hidden;
    height: 75px;
    background-color: #F4F4F4;
    color: black;
    font-size: 28px;
}
h1 {
    text-align: center;
    color: #04192d;
}
#box{
    background-color: #00B099;
    padding-top: 10px;
    
}

/* Style the Column */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;

}
.column p {
    font-size: 20px;
    color: #F4F4F4;
    font-family: akrobat;

}



.row {
    text-align: center;
    position: relative;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


.footer {
    background-color: #F4F4F4;
    padding: 10px;
    text-align: center;
}
#check {
    text-align: center; 
    background-color: #ebebe0;
    color: #04192d;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border:  ;
    border-radius: 4px;
    cursor: pointer;
    border-color: #0d0d0d;
}


@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}